@import "npm://@tutor/task-preview/res/default-style.less";
@import "paper-curls";

@import (inline) "lm_regular/stylesheet.css";
@import (inline) "lm_bold/stylesheet.css";
@import (inline) "lm_italic/stylesheet.css";

body {
  background: #fafafa;
  height: 100%
}

.TutorApp {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & > .grid {
    margin: -1rem 0;

    & > .row > .column {
      padding: 0 !important;
    }
  }
}

.ui.accordion {
  &.red {
    border-top: 2px solid #d95c5c;
  }

  &.green {
    border-top: 2px solid #5bbd72;
  }

  &.transparent {
    border-top: 2px solid transparent;
  }
}

.ui.menu {
  border-radius: 0 !important;
  box-shadow: 0 0 10px #888 !important;

  .content.icon {
    margin: 0 !important;
  }

  .user {
    .avatar {
      display: block;
      margin-top: -0.15rem;
    }

    i {
      width: auto !important;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.TutorApp > .content {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 1rem;

  & > div {
    flex: 1;
  }
}

.menu.popup {
  display: block !important;
}

.column.login {
  max-width: 350px;
}

.exerciseEditor {
  .ace {
    min-height: 200px;
  }

  .ace_content {
    height: 100% !important; /* allow clicking anywhere in the box to set the focus */
  }

  .error {
    .highlight(red);
  }

  .warning {
    .highlight(orange);
  }

  & > .task {
    margin-bottom: 5px;

    .task {
      font-weight: bold;
    }

    .points {
      font-style: italic;
    }
  }

  .ace_tooltip {
    font-size: 0.8em;
  }
}

.highlight(@color) {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 3" enable-background="new 0 0 6 3" height="3" width="6"><g fill="@{color}"><polygon points="5.5,0 2.5,3 1.1,3 4.1,0"/><polygon points="4,0 6,2 6,0.6 5.4,0"/><polygon points="0,2 1,3 2.4,3 0,0.6"/></g></svg>') bottom left repeat-x;
  display: inline-block;
  position: relative;
  min-width: 10px!important;
  height: 5px;
}

.editorpage {
  margin-bottom: 50px !important;

  & > .segments:first-child, & > .segment:first-child {
    border-top: 0 !important;
  }
}

.editorpage {
  background: white;

  .bar {
    z-index: 5;
    height: 46px;
    line-height: 36px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: 0 0 5px #aaa;
    background: #eee;
    padding: 0 10px;

    .column {
      float: left;
      padding: 5px;

      .button {
        margin: 0;
      }

      &.right {
        float: right;
      }

      &.centered {
        line-height: 36px;
      }
    }
  }
}

.editMode {
  .edit.wide.column {
    width: 100% !important;
  }

  .preview.wide.column {
    display: none !important;
  }
}


.previewMode {
  padding: 50px 20px !important;
  //background: #eee !important;
  //box-shadow: 0px 1px 2px 0px rgba(34, 36, 38, 0.15), inset 0 0 10px #fff !important;
  z-index: 0;

  .ui.fluid {
    max-width: 21cm !important;
    .paper-curls();
  }

  .edit.wide.column {
    display: none !important;
  }

  .preview.wide.column {
    width: 100% !important;
    font-size: 12pt;

    &, h1, h2, h3, h4, h5, h6, .ui.header {
      font-family: "Latin Modern Roman", serif !important;
    }
  }

  .ui.horizontal.divider {
    line-height: 1.2;
    text-transform: none !important;
    font-family: "Latin Modern Roman Caps", serif !important;
    font-weight: normal !important;
  }
}
