# Use this configuration for the development.
# Deployment will replace it with an appropriate one
development: true
developmentPort: 8090
domainname: "localhost"
database:
  host : "localhost"
  port : 28015
  name : "TutorDB"
log:
  path: "./tutor.log"
session:
  secret: "DUMMY_SECRET"
  login_redirect: "/"
  restrict: "/api"

# configuration variables visible to everyone
public:
  # percentage of points required to get the bonus
  bonusPercentage: 60
